@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 my-2 mx-auto bg-secondary text-gray-800 hover:bg-primary hover:text-white  rounded-3xl hover:rounded-xl cursor-pointer transition-all duration-300 ease-linear;
    }
    .sidebar-caption {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
        bg-secondary text-black
        text-xs font-bold
        transition-all duration-100 scale-0 origin-left;
    }
    .pages {
        @apply bg-white rounded-lg shadow-md p-5 ms-16 mt-2 w-full max-w-[1300px] text-gray-700;
    }

    .table {
        @apply w-full text-sm text-left text-gray-500;
    }
    .thead {
        @apply text-sm text-gray-700 uppercase bg-gray-50;
    }

    .th {
        @apply px-6 py-3;
    }
    .tr {
        @apply border-b hover:text-gray-700 cursor-default;
    }
    .td {
        @apply px-6 py-3 font-medium whitespace-nowrap;
    }

    .btn {
        @apply py-3 px-5 bg-secondary border-blue-700 shadow-sm hover:border-white hover:shadow-inner hover:text-white hover:bg-blue-700 bg-none border rounded-full font-semibold transition ease-in duration-300;
    }
    .btn-danger {
        @apply py-3 px-5 bg-secondary border-red-700 shadow-sm hover:border-white hover:shadow-inner hover:text-white hover:bg-red-700 bg-none border rounded-full font-semibold transition ease-in duration-300;
    }
}
